In [2]:
import urllib 

import pandas as pd

import dask.dataframe as dd
import dask.bag as db
import dask.diagnostics as dg

In [3]:
%pip install s3fs

Collecting s3fs
  Downloading s3fs-0.4.2-py3-none-any.whl (19 kB)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from s3fs) (0.7.4)
Collecting botocore>=1.12.91
  Downloading botocore-1.17.30-py2.py3-none-any.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 5.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore>=1.12.91->s3fs) (2.8.1)
Collecting docutils<0.16,>=0.10
  Downloading docutils-0.15.2-py3-none-any.whl (547 kB)
     |████████████████████████████████| 547 kB 53.6 MB/s eta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /opt/conda/lib/python3.8/site-packages (from botocore>=1.12.91->s3fs) (1.25.9)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.15.0)
Installing collected packages: docutils, jmespath, botocore, s3fs
Successfully installed botocore-1.17.30 docutils-0.15.2 jmespath-0.10.0 s3fs-0.4.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Let's load in the data for 2018
YEAR = 2018

names = ['ID', 'DATE', 'ELEMENT', 'DATA_VALUE', 'M-FLAG', 'Q-FLAG', 'S-FLAG', 'OBS-TIME']
ds = dd.read_csv(f's3://noaa-ghcn-pds/csv/{YEAR}.csv', storage_options={'anon':True},  names=names, memory_map=False, 
                  dtype={'DATA_VALUE':'object'}, parse_dates=['DATE', 'OBS-TIME'])

In [4]:
# You can check the data
print(ds.columns)
print(ds.dtypes)

Index(['ID', 'DATE', 'ELEMENT', 'DATA_VALUE', 'M-FLAG', 'Q-FLAG', 'S-FLAG',
       'OBS-TIME'],
      dtype='object')
ID                    object
DATE          datetime64[ns]
ELEMENT               object
DATA_VALUE            object
M-FLAG                object
Q-FLAG                object
S-FLAG                object
OBS-TIME              object
dtype: object

In [5]:
# Print out the first few rows
ds.head()

            ID       DATE ELEMENT DATA_VALUE M-FLAG Q-FLAG S-FLAG OBS-TIME
0  AE000041196 2018-01-01    TMAX        259    NaN    NaN      S      NaN
1  AE000041196 2018-01-01    TMIN        112    NaN    NaN      S      NaN
2  AE000041196 2018-01-01    TAVG        186      H    NaN      S      NaN
3  AEM00041217 2018-01-01    TMIN        132    NaN    NaN      S      NaN
4  AEM00041217 2018-01-01    TAVG        191      H    NaN      S      NaN